<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>net.henriksjokvist.safari.safari960</string>
       <key>Developer Identifier</key>
       <string>QAZ4JA3YKZ</string>
       <key>CFBundleVersion</key>
       <string>1.0.1</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0.1</string>
       <key>URL</key>
       <string>http://henriksjokvist.net/downloads/Safari960.safariextz</string>
     </dict>
   </array>
</dict>
</plist>