<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
	<meta name="description" content="">
  <meta name="author" content="{{ page.title }}">

	<meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
	<link rel="stylesheet" href="/css/style.css">

	<script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

<div id="container">
	<header>
      <a class="site-name" href="/">Henrik Sjökvist</a>
 	</header>
	<div id="main" role="main">
  {{ content }}
  </div> 
  <footer>
  <div class="contact">
      <h2>About</h2>
      <p>
        Henrik Sjökvist is a web developer based in Stockholm, Sweden.
      </p>
        Contact me at henrik.sjokvist at gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/henrrrik/">github.com/henrrrik</a><br />
        <a href="http://twitter.com/henrrrik/">twitter.com/henrrrik</a><br />
      </p>
    </div>
      <a href="http://github.com/henrrrik/henrrrik.github.com">View source</a>
      <a href="/rss.xml">RSS</a>
    </div>
  </footer>
</div> <!--! end of #container -->
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
